<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dashboard/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/dashboard/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dashboard/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dashboard/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        @media(min-width: 1800px) {
            .custom-pull-right {
                float: right !important;
            }
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div style="margin-left: 3%; margin-right: 3%;">
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="color: #5c5c5c;">The Dashboard for Ruby Gem: <a href="https://rubygems.org/gems/<%= @doc['name'] %>"><%= @doc['name'] %></a></h4>
                </div>
                <% if @maintenance_score.nil? %>
                    <div class="col-lg-12 col-md-12">
                        <h1 class="page-header" style="color: #5c5c5c;"><%= @doc['name'] %></h1>
                    </div>
                <% else %>
                    <div class="col-lg-9 col-md-6">
                        <h1 class="page-header" style="color: #5c5c5c;"><%= @doc['name'] %></h1>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-health">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-stethoscope fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @maintenance_score %></div>
                                        <div>Health Score</div>
                                        <!-- <span class="label" style="background-color: #353835;">Source: RubyGems</span> -->
                                    </div>
                                </div>
                            </div>
                           <!--  <a href="https://rubygems.org/gems/<%= @doc['name'] %>">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                <% end %>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yee">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['version_downloads'].last['number'] %></div>
                                    <div>Latest version</div>
                                    <span class="label" style="background-color: #353835;">Source: RubyGems</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://rubygems.org/gems/<%= @doc['name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-download fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['total_downloads'] %></div>
                                    <div>Total Gem's Downloads</div>
                                    <span class="label" style="background-color: #353835;">Source: RubyGems</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://rubygems.org/gems/<%= @doc['name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-star fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['stars'] %></div>
                                    <div>Repo Stars</div>
                                    <span class="label" style="background-color: #353835;">Source: GitHub</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://github.com/<%= @doc['repo_username'] %>/<%= @doc['repo_name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code-fork fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['forks'] %></div>
                                    <div>Repo Forks</div>
                                    <span class="label" style="background-color: #353835;">Source: GitHub</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://github.com/<%= @doc['repo_username'] %>/<%= @doc['repo_name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tachometer fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['ranking'] %></div>
                                    <div>Community Score</div>
                                    <span class="label" style="background-color: #353835;">Source: The Ruby Toolbox</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.ruby-toolbox.com/projects/<%= @doc['name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-ree">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['commits'] %></div>
                                    <div>Repo Commits</div>
                                    <span class="label" style="background-color: #353835;">Source: GitHub</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://github.com/<%= @doc['repo_username'] %>/<%= @doc['repo_name'] %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Gem downloads aggregated by minor version <span class="pull-right label" style="background-color: #353835;">Source: RubyGems</span>
                        </div>
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Zoom through clicking the button, modifying the dates or selecting the region by handlers</div>
                            <div id="stockline-downloads"></div>
                        </div>
                    </div> -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Gem downloads aggregated by minor version <span class="pull-right label" style="background-color: #353835;">Source: RubyGems</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Zoom through clicking the button, modifying the dates or selecting the region by handlers</div>
                            <div id="stacked-downloads"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                     <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Gem Downloads break down by version <span class="pull-right label" style="background-color: #353835;">Source: RubyGems</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center"><i class="fa fa-hand-o-right"></i> Click on the bars to drilldown minor & patch version</div>
                                <div id="nest-drilldown"></div>                                
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Repo commits trend <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Zoom through clicking the button, modifying the dates or selecting the region by handlers</div>
                            <div id="stockline-commits"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-question fa-fw"></i> Repo issues resolution <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Resolution time for issues opened in the given month</div>
                            <div id="issues-boxplot"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-file-text-o fa-fw"></i> Repo README word cloud <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Word cloud generated by using README file on github </div>
                            <div id="wordcloud" style="width:100%"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Stackoverflow questions views on given date<span class="pull-right label" style="background-color: #353835;">Source: Stackoverflow</span>
                        </div>
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Views of questions which are related to <%= @doc['name'] %> on each given date</div>
                            <div id="question-views"></div>
                        </div>
                    </div> -->
                    <!-- /.panel -->
                    <!-- <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-file-text-o fa-fw"></i> Stackoverflow questions word cloud <span class="pull-right label" style="background-color: #353835;">Source: Stackoverflow</span>
                        </div>
                        <div class="panel-body">
                        <div class="text-center"><i class="fa fa-hand-o-right"></i> Word cloud generated by all the titles of questions posted on Stackoverflow </div>
                            <div id="questions-word-cloud" style="width:100%"></div>
                        </div>
                    </div>
                     -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-code fa-fw"></i> Last Commit <span class="custom-pull-right label" style="background-color: #353835;">Source: GitHub</span>
                                </div>
                                <div class="panel-body">
                                    <div class="mid text-center" style="color: #5c5c5c;"><%= @doc['last_commit'] %> days</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-question fa-fw"></i> Opening Issues <span class="custom-pull-right label" style="background-color: #353835;">Source: GitHub</span>
                                </div>
                                <div class="panel-body">
                                    <div class="mid text-center" style="color: #5c5c5c;"><%= @doc['issues'] %> issues</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-graduation-cap fa-fw"></i> Contributors <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <% @doc['contributors'][0..9].each do |contributor| %>
                                    <a href="#" class="list-group-item">
                                        <%= contributor['name'] %>
                                        <span class="pull-right text-muted small"><em><%= contributor['contributions'] %> commits</em>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Repo commits by days of week <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="commits-days-week"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-code fa-fw"></i> Commits <span class="pull-right label" style="background-color: #353835;">Source: GitHub</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center"><i class="fa fa-hand-o-right"></i> Mouse over to see number of commits(Day / Month)</div>
                            <div id="contribution-heatmap"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-rss fa-fw"></i> Gem dependencies <span class="pull-right label" style="background-color: #353835;">Source: RubyGems</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <span style="background-color: #3B8997; color: #FFFFFF" class="text-center list-group-item">Development</span>
                                <% @doc['dependencies']['development'].each do |dependency| %>
                                    <a href="#" class="list-group-item">
                                        <%= dependency['name'] %>
                                        <span class="pull-right text-muted small"><em><%= dependency['requirements'] %></em>
                                    </a>
                                <% end %>
                                <span style="background-color: #3B8997; color: #FFFFFF" class="text-center list-group-item">Runtime</span>
                                <% @doc['dependencies']['runtime'].each do |dependency| %>
                                    <a href="#" class="list-group-item">
                                        <%= dependency['name'] %>
                                        <span class="pull-right text-muted small"><em><%= dependency['requirements'] %></em>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    <h4><span class="pull-right">Last Update: <%= @doc['created_at'] %></span></h4>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dashboard/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dashboard/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/dashboard/bower_components/raphael/raphael-min.js"></script>
    <script src="/dashboard/bower_components/morrisjs/morris.min.js"></script>
    <!-- <script src="/dashboard/js/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/dist/js/sb-admin-2.js"></script>

    <!-- Charts library JavaScript -->
    <script src="/javascripts/highstock.js"></script>
    <script src="/javascripts/drilldown.js"></script>
    <script src="/javascripts/chartkick.js"></script>
    <script src="/javascripts/highcharts-more.js"></script>
    <script src="/javascripts/heatmap.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Header libraries for D3 -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3.layout.cloud.js"></script>

    <script>
        var version_downloads_days_aggregate = <%= @version_downloads_days_aggregate.to_json %> ;
        var version_downloads_nest_drilldown = <%= @version_downloads_nest_drilldown.to_json %> ;
        var version_downloads_days_sum = <%= @version_downloads_days_sum.to_json %>;
        var commit_week_day = <%= @commit_week_day.to_json %>;
        var question_views = <%= @question_views.to_json %>;
        var commits_month_day = <%= @commits_month_day.to_json %>;
        var commits_trend = <%= @commits_trend.to_json %>;
        var issues_info = <%= @issues_info.to_json %>;
        var issues_aggregate = <%= @issues_aggregate.to_json %>;

        $(function() {
            // $('#stockline-downloads').highcharts('StockChart', {
            //     rangeSelector: {
            //         selected: 4
            //     },

            //     yAxis: {
            //         plotLines: [{
            //             value: 0,
            //             width: 2,
            //             color: 'silver'
            //         }]
            //     },

            //     tooltip: {
            //         pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>'
            //     },

            //     series: version_downloads_days_aggregate
            // });
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#stacked-downloads').highcharts('StockChart', {
                rangeSelector: {
                    selected: 0
                },
                navigator: {
                    series: {
                        data: version_downloads_days_sum
                    }
                },
                plotOptions: {
                    area: {
                        stacking: 'normal'
                    }
                },
                yAxis: {
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>'
                },

                series: version_downloads_days_aggregate
            });
            $('#nest-drilldown').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Downloads'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                },
                series: [{
                  name: 'Versions',
                  colorByPoint: true,
                  data: version_downloads_nest_drilldown[0]
                }],
                drilldown: {
                  drillUpButton: {
                    relativeTo: 'spacingBox',
                    position: {
                        x: 0,
                        y: -15
                    }
                  },
                  series: version_downloads_nest_drilldown[1]
                }
            })
            $('#stockline-commits').highcharts('StockChart', {
                rangeSelector: {
                    selected: 4
                },

                yAxis: {
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                plotOptions: {
                    series: {
                        compare: 'pecentage'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>'
                },

                series: [{
                    name: 'Commits',
                    data: commits_trend,
                    color: '#EDC240'
                }]
            });
            $('#nest-drilldown').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Downloads'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                },
                series: [{
                  name: 'Versions',
                  colorByPoint: true,
                  data: version_downloads_nest_drilldown[0]
                }],
                drilldown: {
                  drillUpButton: {
                    relativeTo: 'spacingBox',
                    position: {
                        x: 0,
                        y: -15
                    }
                  },
                  series: version_downloads_nest_drilldown[1]
                }
            })

            $('#question-views').highcharts({
                chart:{
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of Views'
                    }
                },
                series: [{
                    name: 'Views',
                    data: question_views,
                    color: '#F8E7B3',
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]

            })

            $('#commits-days-week').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Commits'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y} commits</b>'
                },
                series: [{
                    name: 'Population',
                    data: commit_week_day,
                    color: '#F8E7B3',
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
            $('#contribution-heatmap').highcharts({
                chart: {
                    type: 'heatmap',
                    margin: [60, 10, 80, 50]
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    tickPixelInterval: 50,
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },

                yAxis: {
                  type: 'category',
                  title: {
                      text: null
                  },
                  labels: {
                      format: '{value}'
                  },
                  categories: ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
                  reversed: true
                },

                colorAxis: {
                    stops: [
                        [0, '#eee'],
                        [0.2, '#d6e685'],
                        [0.5, '#8cc665'],
                        [0.7, '#44a340'],
                        [1, '#1e6823']
                    ],
                    min: 0,
                    max: commits_month_day.max,
                    // startOnTick: false,
                    // endOnTick: false,
                    labels: {
                        format: '{value}'
                    }
                },

                series: [{
                    borderWidth: 0,
                    nullColor: '#EFEFEF',
                    // colsize: 24 * 36e5, // one day
                    colsize: 1,
                    tooltip: {
                        headerFormat: 'Commits<br/>',
                        pointFormat: '<b>{point.value}</b>'
                    },
                    data: commits_month_day.data
                }]

            });
            $('#issues-boxplot').highcharts({
                chart: {
                    type: 'boxplot'
                },

                title: {
                    text: ''
                },

                legend: {
                    enabled: false
                },

                xAxis: {
                    categories: issues_aggregate.months.slice(Math.max(issues_aggregate.months.length - 12, 1))
                },

                yAxis: {
                    title: {
                        text: 'Days to resolve'
                    },
                    min: 0
                },
                tooltip: {
                    useHTML: true,
                    formatter: function() {
                        return '<b>Days to Resolve</b> <br> Maximum: <b>' + this.y + '</b><br>Upper quartile: <b>' + this.point.q3 + '</b><br>Median: <b>' + this.point.median + '</b><br>Lower quartile: <b>' + this.point.q1 + '</b><br>Minimum: <b>' + this.point.low + '</b><br>';
                    }
                },
                series: [{
                    name: 'Days to resolve',
                    data: issues_aggregate.data.slice(Math.max(issues_aggregate.data.length - 12, 1)),
                    tooltip: {
                        headerFormat: '<em>{point.key}</em><br/>'
                    }
                }]

            });
        });

        var readme_frequency_list = <%= @readme_word_count.to_json %>
        
        var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

        
        /* Readme word Cloud ************************************************/
        d3.layout.cloud().size([800, 300]) //width, height
            .words(readme_frequency_list)
            .rotate(0)
            .fontSize(function(d) { return d.size*7; })
            .on("end", draw)
            .start();

        function draw(words) {
          d3.select("#wordcloud").append("svg")
            .attr("width", 850)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            //modify the postition of the cloud on the canvas 
            .attr("transform", "translate(320,200)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
        }

    </script>

    <script>
        var questions_frequency_list = <%= @question_word_count.to_json %>

        var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

        
        /* Readme word Cloud ************************************************/
        d3.layout.cloud().size([800, 300]) //width, height
            .words(questions_frequency_list)
            .rotate(0)
            .fontSize(function(d) { return d.size*7; })
            .on("end", draw)
            .start();

        function draw(words) {
          d3.select("#questions-word-cloud").append("svg")
            .attr("width", 850)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            //modify the postition of the cloud on the canvas 
            .attr("transform", "translate(320,200)") //old 320,100
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
        }
    </script>

    <script src="/dashboard/javascripts/scripts.js"></script>
</body>

</html>
