<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dashboard/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/dashboard/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dashboard/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dashboard/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/gems"><i class="fa fa-table fa-fw"></i> Gems</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color: #5c5c5c;"><%= @doc['name'] %></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-yee">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['version_downloads'].last['number'] %></div>
                                    <div>Latest Version</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-download fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['total_downloads'] %></div>
                                    <div>Total Downloads</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-star fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['stars'] %></div>
                                    <div>Stars on Github</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code-fork fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['forks'] %></div>
                                    <div>Forks on Github</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tachometer fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['ranking'] %></div>
                                    <div>Ranking</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-ree">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @doc['commits'] %></div>
                                    <div>Total Commits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Downloads Trend for given versions
                            <div class="pull-right">
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="stockline"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Downloads for each version
                            <div class="pull-right">
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div id="nest-drilldown"></div>                                
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-question fa-fw"></i> Issue Resolution
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="issue-resolution"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-file-text-o fa-fw"></i> README
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="wordcloud" style="width:100%"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-code fa-fw"></i> Last Commit
                        </div>
                        <div class="panel-body">
                            <div class="huge text-center" style="color: #5c5c5c;"><%= @doc['last_commit'] %> days ago</div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-graduation-cap fa-fw"></i> Contributors
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <% @doc['contributors'][0..9].each do |contributor| %>
                                    <a href="#" class="list-group-item">
                                        <%= contributor['name'] %>
                                        <span class="pull-right text-muted small"><em><%= contributor['contributions'] %> commits</em>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-code fa-fw"></i> Contributions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="contribution-heatmap"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-rss fa-fw"></i> Dependencies
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <span style="background-color: #3B8997; color: #FFFFFF" class="text-center list-group-item">Development</span>
                                <% @doc['dependencies']['development'].each do |dependency| %>
                                    <a href="#" class="list-group-item">
                                        <%= dependency['name'] %>
                                        <span class="pull-right text-muted small"><em><%= dependency['requirements'] %></em>
                                    </a>
                                <% end %>
                                <span style="background-color: #3B8997; color: #FFFFFF" class="text-center list-group-item">Runtime</span>
                                <% @doc['dependencies']['runtime'].each do |dependency| %>
                                    <a href="#" class="list-group-item">
                                        <%= dependency['name'] %>
                                        <span class="pull-right text-muted small"><em><%= dependency['requirements'] %></em>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Commits in Days of Week
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="commits-days-week"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dashboard/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dashboard/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/dashboard/bower_components/raphael/raphael-min.js"></script>
    <script src="/dashboard/bower_components/morrisjs/morris.min.js"></script>
    <!-- <script src="/dashboard/js/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/dist/js/sb-admin-2.js"></script>

    <!-- Charts library JavaScript -->
    <script src="/javascripts/highstock.js"></script>
    <script src="/javascripts/drilldown.js"></script>
    <script src="/javascripts/chartkick.js"></script>
    <script src="/javascripts/heatmap.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Header libraries for D3 -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3.layout.cloud.js"></script>

    <script>
        var version_downloads_days = <%= @version_downloads_days.to_json %> ;
        var version_downloads_nest_drilldown = <%= @version_downloads_nest_drilldown.to_json %> ;
        var commit_week_day = <%= @commit_week_day.to_json %>;
        var commits_month_day = <%= @commits_month_day.to_json %>;
        var issues_info = <%= @issues_info.to_json %>;

        $(function() {
            $('#stockline').highcharts('StockChart', {
                rangeSelector: {
                    selected: 4
                },

                yAxis: {
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                plotOptions: {
                    series: {
                        compare: 'pecentage'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                    valueDecimals: 2
                },

                series: version_downloads_days
            });
            $('#nest-drilldown').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Downloads'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Downloads'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                },
                series: [{
                  name: 'Versions',
                  colorByPoint: true,
                  data: version_downloads_nest_drilldown[0]
                }],
                drilldown: {
                  drillUpButton: {
                    relativeTo: 'spacingBox',
                    position: {
                        x: 0,
                        y: -15
                    }
                  },
                  series: version_downloads_nest_drilldown[1]
                }
            })
            $('#commits-days-week').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Commit in days of week'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Commits'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y} commits</b>'
                },
                series: [{
                    name: 'Population',
                    data: commit_week_day,
                    color: '#F8E7B3',
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
            $('#contribution-heatmap').highcharts({
                chart: {
                    type: 'heatmap',
                    margin: [60, 10, 80, 50]
                },
                title: {
                    text: 'Commits Distribution in last year',
                    align: 'left',
                    x: 40
                },
                xAxis: {
                    type: 'category',
                    tickPixelInterval: 50,
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },

                yAxis: {
                  type: 'category',
                  title: {
                      text: null
                  },
                  labels: {
                      format: '{value}'
                  },
                  categories: ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
                  reversed: true
                },

                colorAxis: {
                    stops: [
                        [0, '#eee'],
                        [0.2, '#d6e685'],
                        [0.5, '#8cc665'],
                        [0.7, '#44a340'],
                        [1, '#1e6823']
                    ],
                    min: 0,
                    max: commits_month_day.max,
                    // startOnTick: false,
                    // endOnTick: false,
                    labels: {
                        format: '{value}'
                    }
                },

                series: [{
                    borderWidth: 0,
                    nullColor: '#EFEFEF',
                    // colsize: 24 * 36e5, // one day
                    colsize: 1,
                    tooltip: {
                        headerFormat: 'Commits<br/>',
                        pointFormat: '<b>{point.value}</b>'
                    },
                    data: commits_month_day.data
                }]

            });
            $('#issue-resolution').highcharts({
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Issues Resolution'
                },
                xAxis: {
                    min: 0,
                    title: {
                        enabled: true,
                        text: 'Issue Number'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Days'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 0,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>Issue {point.x}</b><br>',
                            pointFormat: 'Take {point.y} days to fix'
                        }
                    }
                },
                series: [
                    {
                        name: 'Issues',
                        data: issues_info,
                        color: 'rgba(119, 152, 191, .5)',
                    }
                ]
            });
        });

        var frequency_list = <%= @readme_word_count.to_json %>

        var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);

        d3.layout.cloud().size([800, 300]) //width, height
            .words(frequency_list)
            .rotate(0)
            .fontSize(function(d) { return d.size*2; })
            .on("end", draw)
            .start();

        function draw(words) {
          d3.select("#wordcloud").append("svg")
            .attr("width", 850)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            .attr("transform", "translate(320,100)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
        }

    </script>

    <script src="/dashboard/javascripts/scripts.js"></script>
</body>

</html>
